@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,300&family=Open+Sans:wght@400;600;700;800&display=swap');

/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    background-color:  #FF900E;
    padding: 20px 45px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


/* header section start */
header{
    background-color: antiquewhite;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 35px;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1em;
    
}
nav li a{
    color: #474747;
    text-decoration: none;

}
/* header section end */

/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-top: 50px;
    margin-bottom: 20px;
}
.banner-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.banner-image{
    margin-top: 20px;
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 70px auto;
}
.team-main-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.team-img-container{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.team-content{
    padding-left: 50px;
    padding-right: 50px;
}
.team-title{
    font-size: 43px;
    font-weight: 500;
    color: #727272;
    padding-bottom: 20px;
}
.team-title .of-our{
    font-weight: 700;
    color: #131313;
}
.team-title .features{
    color: #FF900E;
    font-weight: 700;
}
.team-description{
    color: #727272;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
}








/* responsive style queries */

@media screen and (max-width:576px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .team-main-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
        margin-left: 0px;
    }
    .team-content{
        padding-top: 50px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
}